h1 {
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #838383; /* Set the background color of the whole site */
    color: white; /* Set the text color to white */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 56px;
}

/* Add styles for multiple-choice options */
#chatbox ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#chatbox li {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    margin: 4px 0;
    border-radius: 5px;
}

#message-list li {
    background-color: #4CAF50; /* Adjusted */
    color: white;
    padding: 8px;
    margin: 4px 0;
    border-radius: 5px;
}

#chat-form {
    display: flex;
    flex-direction: column; /* Change to column layout */
    padding: 50px;
    background-color: #838383;
    border: 2px solid white;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
    margin-top: auto; /* Push the form to the bottom */
}

.character-container {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 10px; /* Add space below */
}

.character-label {
    font-size: 24px;
    color: white;
    margin-right: 10px; /* Add some space between label and dropdown */
}

#character-select {
    width: 30%; /* Set width of the dropdown */
    background-color: #fff; /* Set background color */
    color: #000; /* Set text color */
    font-size: 18px; /* Increase font size */
}

.input-box {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure the input box and button span the line's width */
}

#user-input {
    flex: 1;
    padding: 0.5% 2.5% 0.5%;
    background-color: #fff;
    color: #000;
    font-size: 42px;
    width: 85%; /* Occupy 85% of the width, considering the 5% padding on each side */
    box-sizing: border-box;
}

#send-button {
    flex: 0 0 15%; /* Constrain button to 15% without growing or shrinking */
    color: black;
    border: none;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    transition: box-shadow 0.3s ease;
}

#send-button.active {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(255, 255, 255, 0.4); /* Add shadows */
}

#message-list, .player-response, .character-response {
    font-family: Consolas, monospace; /* Use Consolas for dialogue elements */
}

/* Add styles for multiple-choice options */
.options-container {
    display: flex;
    flex-direction: column; /* Change to column layout */
}

.option-btn {
    width: 80%; /* Set width to 80% */
    background-color: #D41159;
    color: white;
    padding: 8px;
    margin: 4px auto; /* Center the buttons horizontally */
    border-radius: 5px;
    font-size: 18px;
    font-family: Consolas, monospace;
    cursor: pointer;
}

.option-btn.selected {
    background-color: #1A85FF; /* Change to cyan for selected button */
}

.option-btn.blurred {
    background-color: #D41159; /* Soft red for unselected button */
}

.option-selected .option-btn:not(.selected):hover {
    background-color: #D41159; /* Keep original color on hover */
}

.option-btn:hover {
    background-color: #1A85FF; /* Light cyan on hover */
}

#username-container label {
    font-size: 36px;
    text-align: center;
}

#username-container {
    height: 100vh; /* Take up the full viewport height */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* semi-transparent black background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999; /* ensure it's above other content */

}

.centered {
    text-align: center; /* Center text */
}

#username-form {
    background-color: black; /* white background for the form */
    padding: 20px;
    border-radius: 10px; /* rounded corners */
}

#username {
    width: 100%; /* expand text box width */
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

input[type="submit"] {
    width: 75%;
    font-size: 24px;
    text-align: center;
}

.main-content {
    display: flex; /* Use flexbox for layout */
    flex: 1; /* Take up remaining space */
}

.sidebar {
    width: 20%; /* Set the width of the sidebar */
    background-color: #000000;
    padding: 20px;
}

.chat-container {
    width: 80%; /* Set the width of the chatbox */
    background-color: #838383; /* Set the background color of the chat container */
    padding: 20px;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
}

#chatbox {
    flex: 1; /* Take up remaining space */
    overflow-y: auto; /* Allow vertical overflow scrolling */
}

#run-script-button {
    color: black;
    background-color: #1A85FF; /* Match the color of send button */
    padding: 3px 10px;
    text-align: center;
    font-size: 24px;
    border-radius: 20px; /* Make the corners softer to create a pill shape */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition effect */
}

#run-script-button:hover {
    background-color: #D41159; /* Darken the color on hover */
}

/* Add styles for sidebar options */
.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease; /* Add transition effect */
}

.sidebar li:hover {
    background-color: #333; /* Dark grey background on hover */
}

/* Add dark grey square underneath option on hover */
.sidebar li:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #333; /* Dark grey */
    bottom: 0;
    left: 0;
    border-radius: 0 0 5px 5px; /* Rounded corners for the square */
}

/* Change text color and background color when clicked */
.sidebar li.clicked {
    color: black;
    background-color: white;
}

#popup-container {
    position: absolute;
    top: 15%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#popup-message {
    font-size: 20px;
    margin-bottom: 10px;
}

#close-popup-btn {
    position: absolute; /* Position the close button */
    top: 5px; /* Adjust top position */
    right: 5px; /* Adjust right position */
    color: white;
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

#close-popup-btn:hover {
    color: #ccc;
}

.thinking-left {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust as needed */
    transform: translate(0, 0%);
}

.thought-bubble {
    width: 50px; /* Adjust the size */
    height: 30px; /* Adjust the size */
    background-color: #fff;
    border-radius: 25px 25px 25px 10px; /* Adjust border-radius accordingly */
    border: 2px solid #ccc;
    position: relative;
    overflow: hidden;
    animation: thinking 1.5s infinite;
}

.thinking-left {
    position: absolute;
    top: 50%;
    left: 40px; /* Adjust as needed */
    transform: translate(0, 0%);
}

.character-name {
    position: absolute;
    top: -20px; /* Adjust as needed */
    left: -60px; /* Adjust as needed */
    font-size: 14px; /* Adjust as needed */
    color: #888; /* Adjust color if needed */
}

.dot {
    width: 8px; /* Adjust size */
    height: 8px; /* Adjust size */
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: fadeInOut 1.5s infinite;
}

.dot1 { left: 10%; }
.dot2 { left: 30%; }
.dot3 { left: 50%; }

@keyframes thinking {
    0% {
        transform: translateX(0%); /* Adjust the percentage */
    }
    50% {
        transform: translateX(75%); /* Adjust the percentage */
    }
    100% {
        transform: translateX(0); /* Adjust the percentage */
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
